extends layout

append head
  script(src="/javascripts/allquestions.js" type="module" defer)

block content
    div#questions-page
        h1#question-page-header Most Popular Questions
        if locals.authenticated
          a#new-question-button(href="/questions/new") Ask a Question
        else
          a#no-question-button(href="/users/login") Login to Ask a Question
            each question in questions
              div.question-card
                h3:a(href=`/questions/${question.id}`)= question.title
                each answer in question.Answers
                  p= answer.answer
