extends layout

append head
  script(src="/javascripts/allquestions.js" type="module" defer)

block content
    div#questions-page
        h1#question-page-header Most Popular App Overload Questions
        if userId
          a#new-question-button(href="/questions/new") Ask a Question
        else
          a#no-question-button(href="/login") Login to Ask a Question
        ul#question-list
            each question in questions
                li.question-list-item
                  a(href=`/questions/${question.id}`)= question.title
                  #question-votes
                    p= `${question.votes}`
                    p Votes
                  #question-answers
                    if question.Answers
                      p= `${question.Answers.length}`
                      p Answers
                    else
                      p 0
                      p Answers
