extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div#index-page
    h1#splash-header.splash Welcome to Muse
    a(href="/questions").splash-greeting Get Inspired
    //- img#splash-img(src='/images/home.jpeg')
  .main-container
    .images-container
      .each-image
        img(src="/images/question.svg", alt="question")
        h3 Ask questions that are bound to be answered
      .each-image
        img(src="/images/answer.svg", alt="answer")
        h3 Answer questions from fellow musical enthusiasts
      .each-image
        img(src="/images/groups.svg", alt="groups")
        h3 Engage in a community centered around your musical interests
