extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div#index-page
    h1#splash-header.splash= title
    p#splash-greeting.splash Welcome to Muse
    a#most-popular.splash(href="/users/login") Get Started!
    img#splash-img(src='/images/home.jpeg')