doctype html
html
  head
      block head
        title="Express Starter App"
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet", href="/stylesheets/login.css")
        link(rel="stylesheet", href="/stylesheets/index.css")
        link(rel="stylesheet", href="/stylesheets/navbar.css")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sarina&display=swap" rel="stylesheet">
  body

    nav#nav-bar
      a#nav-home-link(href='/')
        //- img#nav-logo(src="/images/image.png", alt="")
        h1:a(href="/").logo Muse.
      div#search-div
        form#search-form(autocomplete='off' method="post" action="/search")
          input#search-bar(type='text' name='searchQuery' placeholder='Search here...')
      if locals.authenticated
        div#nav-auth
          span#nav-greeting Welcome, #{locals.user.username}
          a(href='/users/logout').logoutButton Logout
      else
        div#nav-auth
          a(href='/users/login').loginButton Login
          a(href='/users/signup').signupButton Sign Up
    .body-container
      block content
  footer
    a(href="#top") Return to top