extends layout

append head
  link(rel="stylesheet" href="/stylesheets/newquestion.css")


block content
    form(id='newquestion' method='post' action='/questions')
        label(for="title") Question Title 
        input(type="text" name="title")
        label(for="details") Write a detail summary of your question
        textarea(name="details")  
        button(type='submit') Submit!