extends layout

append head
  link(rel="stylesheet" href="/stylesheets/newquestion.css")


block content
    form(id='newquestion' method='post' action='/questions')
        input(type='hidden' name= '_csrf' value= csrfToken)
        +field('Question Title: ', 'title', '', 'text', true)
        +field('Question Details: ', 'details', question.details, 'textarea', true)
        button(type='submit') Submit!