h1 {
    color: #555555;
}

.user-card {
    margin: 1rem;
    background-color: white;
    padding: 2rem;
    border-radius: 10%;
    display: inline-flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.user-card img {
    border-radius: 10%;
    width: 100px;
}

footer {
    background-color: #44475a;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 3px solid #ff79c6;
    grid-area: footer;
}

footer a {
    color: #ff79c6;
    text-decoration: none;
    font-weight: bold;
}

