*{
    padding: 0px;
    margin: 0px;
}

body {
    min-height: 100vh;
    /* width: 100vw; */
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(173,204,245);
    background: #282a36;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 60px;
    grid-template-areas:
    "navbar"
    "main"
    "footer";
}

.main-container {
    height: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-area:main;
}
.middle-section {
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-around;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    transition: width 1s;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: 1;
    width: 50%;
    background-image: url("https://i.imgur.com/C6Vhxim.jpg");
}

.image-container h1 {
    font-size: 4rem;
    color: white;
    font-family: 'Sarina', cursive;
}
.form-container {
    /* width: 100%; */
    padding: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    align-items: center;
    justify-content: center;
}
.form-container h2 {
    margin-bottom: 2rem;
}

.form-group {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group label {
    display: block;
    font-size: small;
    font-weight: bold;
}

.form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #777777;
    padding: 5px 5px;
    padding-top: 15px;
    margin-bottom: 1rem;
}

.form-group input:focus-visible {
    outline: none;
}



.form-button {
    display: flex;
    border: none;
    background: rgb(152,251,152);
    background: linear-gradient(125deg, rgba(152,251,152,1) 0%, rgba(16,195,117,1) 100%);
    padding: 0.7rem 2rem;
    width: 100%;
    margin: 1rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    justify-content: center;
    transition: border-radius 0.5s;
}

.form-button:hover {

    border-radius: 25px;
}

form h2 {
    font-size: 2rem;
    text-align: center;
}

body {
    background-color: linear-gradient();
}

.signup {
    color: rgb(59, 112, 192);
    margin-top: 2rem;
    margin-bottom:2rem;
}

footer {
    grid-area: footer;
}

@media screen and (max-width: 1000px) {
    .middle-section {
        width: 40%;
        min-width: 350px;
        background-image: url("https://i.imgur.com/C6Vhxim.jpg");
        background-size: cover;
    }

    .image-container {
        display: none;
    }

    .form-group input[type="text"]::placeholder, .form-group input[type="email"]::placeholder, .form-group input[type="password"]::placeholder {
        color: white;
    }

    .form-group input[type="text"], .form-group input[type="email"], .form-group input[type="password"] {
        border-bottom: 2px solid white;

    }

    /* input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s;
    } */

    input{
        color: black;
    }

    /* input:-webkit-autofill
    {
        -webkit-text-fill-color: white !important;
    } */

    form h2 {
        color: white;
    }

}

.demo-form {
    /* padding: 1rem 0; */
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-self: flex-start; */
}
.demo-form input {
    /* margin: 0 1rem; */
    width: 100%;
    background: rgb(252,255,81);
    background: linear-gradient(132deg, rgba(252,255,81,1) 0%, rgba(255,153,56,1) 100%);
}

