#nav-bar {
    /* code in here */
    grid-area:navbar;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "links search auth";
    padding: 1rem;
    background-color: rgba(60,60,60,1);
    align-items: center;
    justify-items: start;
    border-bottom: 3px solid violet;
    align-content: center;
}

.logo {
    margin-left: 2rem;
    font-size: 2rem;
    font-family: 'Sarina', cursive;
    color: violet;
}

#nav-bar a {
 text-decoration: none;
}

#nav-home-link {
    grid-area: links;
}

#search-div {
    grid-area: search;
}

#search-div, #nav-auth {
    width: 100%;
}

#search-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-bar {
    padding: 0.4rem 1rem;
    border-radius: 50px;
    border: none;
    width: 100%;
    height: 100%;
}

#search-bar:focus-visible {
    outline: none;
}

#nav-auth {
    grid-area: auth;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.loginButton, .signupButton, .logoutButton {
    font-size: 12px;
    text-decoration: none;
    padding: 0.7rem 1rem;
    border-radius: 5px;
    color: violet;
    font-weight: bold;
    border: 2px solid violet;
}

#nav-greeting {
    color: white;
}

.loginButton { 
    color: #464646;
    background-color: violet;
}