#nav-bar {
    /* code in here */
    grid-area:navbar;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "links search auth";
    padding: 1rem;
    background-color: #44475a;
    align-items: center;
    justify-items: start;
    border-bottom: 3px solid #ff79c6;
    align-content: center;
}

.logo {
    margin-left: 2rem;
    font-size: 2rem;
    font-family: 'Sarina', cursive;
    color: #ff79c6;
    transition: 0.5s;
}

.logo:hover {
    color: palegreen;

}

#nav-bar a {
 text-decoration: none;
}

#nav-home-link {
    grid-area: links;
}

#search-div {
    grid-area: search;
}

#search-div, #nav-auth {
    width: 100%;
}

#search-form {
    display: flex;
    width: 100%;
    justify-content: center;
}

#search-bar {
    padding: 0.4rem 1rem;
    border-radius: 5px;
    border: none;
    width: 80%;
    height: 100%;
}

#search-bar:focus-visible {
    outline: none;
}

#nav-auth {
    grid-area: auth;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.loginButton, .signupButton, .logoutButton {
    font-size: 12px;
    text-decoration: none;
    padding: 0.7rem 0.7rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: 2px solid #ff79c6;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.loginButton:hover{
    color: #44475a;    
    background-color: palegreen;
    border-color: palegreen;
}
.signupButton:hover, .logoutButton:hover {
    border-color: palegreen;
    color: palegreen;
}
#nav-greeting {
    color: white;
}

.loginButton { 
    color: white;
    background-color: #ff79c6;
}